body {
  margin: 0;
  padding: 0;
}
.carousel-caption h3 {
  font-size: 90px;
}

.carousel-caption p {
  font-size: 55px;
}

.carousel-item{
  height: 530px;
}

.carousel {
  height: auto;
  width: 100%;
  position: absolute;
}
